.container {
    margin: 2% 5%;
    background-color: aqua;
    padding: 20px;
    border-radius: 5px;;
}

label {
    width: 70px;
    display: inline-block;
}

input {
    margin-top: 2px;
}

footer {
    background-color: goldenrod;
    padding: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}